<!DOCTYPE html>
<!--script src="templates/jquery-3.6.0.min.js"></script-->

<html>
  <!-- Navigation Bar -->
{%include "NavBar.html"%}
<!-- Header -->
    <body>
      <br>
      <form action='/myticket_info' method = 'POST' style="margin-left:10px ;">選擇活動名稱：
        <select name="Eventname" id='Eventname'>
        　<option  id ='e1' value = '夏至藝術節-誰怕虎姑婆'>夏至藝術節-誰怕虎姑婆</option>
        　<option  id = 'e2' value = 'BACK TO 70’S 西洋金曲演唱會'>BACK TO 70’S 西洋金曲演唱會</option>
        　<option  id = 'e3' value = '粽邪怨靈鬼屋-生人勿近'>粽邪怨靈鬼屋-生人勿近</option>
        </select>
        <input type="hidden" name="user" value="{{user}}"/>
        <button type = 'submit'>查詢</button>
        </form>
    </body>
      <div id="qrcode">
        <div class="w3-row-padding w3-padding-16" style ="align-content: left;">
          <h3>活動名稱：{{event}}</h3>
          <h3>票種 : {{ticket_type}}</h3>
          <h3>您的QRcode：</h3>
          <div class="w3-third w3-margin-bottom">
            <!--<img src="{{ img_path }}" alt="YourQRcode" style="width:30%">-->
            <div class="w3-container w3-white" style="width: 80%;">
              <img src="{{ url_for('static', filename='test_true.png')}}" style="display: block;margin-left: auto;margin-right: auto;width:40%;">
              <h4 style= "text-align: center;">票券編號 : {{order_id}}</h4>
            </div>
          </div>
      </div>
</html>

<script>
   //new QRCode(document.getElementById("qrcode"), "22121210");  //設置QRcode
   async function myticket(){
    const data = {
        qrcode: document.getElementById('qrcode'),
        event: document.getElementById('event'),
        ticket_type: document.getElementById('ticket_type')
    }
    const response = await fetch("/myticket",{method:"post", body:data})
    if(response.ok){
      console.log("成功")
    }
  }
  
  

</script>