<!DOCTYPE html>
<html>
<title>防黃牛售票網</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
{%include "NavBar.html"%}
<!-- Header -->

<!-- Page content -->
<div class="w3-container w3-center w3-margin-top" style="margin:0px auto;">
    <img src="https://imgs.utiki.com.tw/Data/UTIKI_UDN//Images/UTK2401/N15D804V_Product.JPG" alt="粽邪" style="width: 50%;">
    <div class="w3-container w3-white" style="margin:0px auto; width:50%">
        <div class="w3-container">
            <h2 style="font-weight: bold;">粽邪怨靈鬼屋-生人勿近</h2>
            <!-- half:票券資訊 -->
            <div class="w3-container">
                <h3 class="w3-left-align w3-border-bottom" style="font-weight: bold;">票券資訊</h3>
            </div> 
            <div class="w3-half w3-container">
                <p class="w3-left-align">
                    <i class="fa fa-clock-o"></i> 
                    活動時間<br>
                    2021/04/26 ~ 2021/06/25
                </p>
                <p class="w3-left-align">
                    <i class="fa fa-map-marker"></i> 
                    活動地點<br>
                    華山1914文化創意產業園區 西4、5館
                </p>
                <p class="w3-left-align">
                    <i class="fa fa-money"></i> 
                    票券價格<br>
                    $300 起
                </p>
            </div>
            <!-- half:購票按鈕 -->
            <div class="w3-half w3-container w3-margin-top">
                <div class="w3-card-4 w3-white" style="width:100%">
                <div class="w3-container w3-center">
                    <h6 class="w3-left-align">開賣時間：2021/04/26 00:00:00</h6>
                    <h6 class="w3-left-align">預售截止：2021/06/25</h6>
                    <div class="w3-section">
                        <form action="/ticket" method="GET">
                            <button id = "check" type="submit" class="w3-button w3-green" name="title" value="粽邪怨靈鬼屋-生人勿近">
                                <p id = "check_info" style="font-size: 10px;"><i class="fa fa-shopping-cart fa-2x"> 立即購票</i></p>
                                <!-- debug : <p>{{data}}</p> --> 
                                <input id = "check_data" type="hidden" value="{{check}}"></input>
                            </button>
                        </form>
                    </div>
                </div>
                </div>
            </div>

            <div class="w3-container w3-margin-bottom">
                <h3 class="w3-left-align w3-border-bottom" style="font-weight: bold;">活動介紹</h3>
                <p class="w3-left-align">【粽邪怨靈鬼屋】結合臺灣正宗恐怖片《粽邪》、《馗降：粽邪2》電影，沉浸式體驗x任務x角色融入，顛覆傳統鬼屋，今夏最毛骨悚然的怨靈體驗館！
                    以粽邪電影一、二集與「送肉粽」的宗教儀式為故事核心，分別打造一、二館的雙館體驗。一館體驗者，扮演偵查解謎角色，解開冤魂沉積的怨念謎團，完成任務，協助怨靈解脫。二館則是扮演降魔除煞的鍾馗代理者，將橫行民間的邪靈驅逐擊退。
                    「你有兩個選擇，一輩子逃避，或者勇敢面對。」全新任務型鬼屋，挑戰恐懼臨界點，體驗者成為劇中角色，創造故事發展，透過解謎闖關，融入流傳百年的宗教儀式，傳遞臺灣民俗文化，有別於與傳統鬼屋，故事引導觀眾勇敢面對恐懼，完成關卡任務！</p>
            </div>        
        </div>
    </div>
    <div class="w3-container w3-center"></div>
    <h5 style="font-weight: bold;">你可能會喜歡</h5>
        <div class="w3-content w3-display-container w3-margin-bottom" style="max-width:45%">
            <img class="mySlides" src="https://meet.eslite.com/Content/Images/Post/1200X628_20210503190258.jpg" style="width:100%">
            <img class="mySlides" src="https://threeonelee.com/wp-content/uploads/20210504163254_70.jpg" style="width:100%">
            <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
            <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)"><i class="fa fa-angle-double-left"></i></div>
            <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)"><i class="fa fa-angle-double-right"></i></div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
    <h5>Find Us On</h5>
    <div class="w3-xlarge w3-padding-16">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script>
// 限購一張票
check = document.getElementById("check_data").value;
console.log(check);
if(check=="True"){
    var btn = document.getElementById("check")
    btn.disabled = true
    btn.classList.add("w3-red");

    var btn_info = document.getElementById("check_info")
    btn_info.innerHTML = "已達購票上限";
    btn_info.style.fontSize = "15px";
}
</script>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    function currentDiv(n) {
      showDivs(slideIndex = n);
    }
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace("w3-white", "");
      }
      x[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += "w3-white";
    }
</script>

</body>